.results{
    display: flex;
    .top-five{
       display: flex;
       flex-direction: column;
       
       align-items: center;

       h2{
        margin: 0.5em;
       }
       h3{
        margin: 0.3em;
       }
    }

    .home-link{
        margin-top: 1.1em;
        margin-bottom: 0px;
        color: rgb(55, 72, 159);
        text-decoration: underline;

        &:hover{
            cursor: pointer;
        }
    }

    
}